body{
	background-color: tan;
}

h1{
	font-size: 30px;
	color: teal;
}
h2{
	font-size: 20px;
	color: red;
}
.big{
	font-size: 60px;
}
.homo{
	text-transform: uppercase;
}

.big.homo{
	color: navy;
}

h1 span{
	color: violet;
}